uv
torch
torchtext
spacy
matplotlib
scikit-learn
langchain
langchain_community
langchain_text_splitters
langchain_core
langchain_ollama
numpy
pandas
datasets
seaborn
tensorflow
keras
nltk
ipykernel
streamlit